<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToException="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        syntaxCheck="false"
        >
    <testsuites>
        <testsuite name="emak-image">
            <directory>EmakImageTest</directory>
        </testsuite>
    </testsuites>
</phpunit>